body {
	background-color: #457E86;
	color: #f5f5f5;
	font-family: 'Lato', sans-serif;
}
.header, .footer {
    background-color:#381F0B;
    color: #eeeeee;
    height: 50px;
    padding-top: 10px;
}

.header {
	margin-bottom: 30px;
}
.footer {
	margin-top: 30px;
   text-align: center;
}

.navbar-text {
    margin-left: 15px;
}
.userimg {
    width: 40px;
    border: 2px solid #381F0B;
    border-radius: 4px;
    max-height: 40px;
}
h5 {
    color: red;
    border: 1px solid red;
    margin: 5px auto;
    padding: 10px 18px;
    width: 310px;
}
.fcclogo {
    width: 250px;
}
tr.top100, th {
    font-size: 18px;
}
tr.top100 td {
    vertical-align: middle;
}
td.count {
    text-align: center;
}
.disclaimer {
	 background-color
    font-size: 14px;
    border: 1px solid #aaa;
    padding: 10px;
}
.lastchecked {
    width: 5%;
}
.single {
	float: right;
}
.rank-btn.btn {
    background-color: #ffac33;
    background-image: linear-gradient(#ffcc4d, #ffac33);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcc4d, endColorstr=#ffac33, GradientType=0)";
    border-color: #f1a02a;
    color: #292f33 !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
td.lastchecked {
    font-size: 12px;
}
table.table-striped {
	background-color: #f0f0f0;
	color: #333;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-collapse: inherit;
	border: 1px solid #351f0b;
 }
table.table-striped tr {
	border: 0;
 }

#header {
	background-color: #381F0B;
	text-align: center;
	border-color: #351f0b;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#header h3 {
	color: #f5f5f5;
	margin: 0;
	font-size: 25px;
	font-weight: 300;
}
.redborder {
	border: 1px solid red;
}
