
<header class="header">
    <a href="http://www.freecodecamp.com"><img class="fcclogo" src="https://s3.amazonaws.com/freecodecamp/freecodecamp_logo.svg" alt="FreeCodeCamp logo"></a><div class="right greeting" ng-show="isLoggedIn()">Hello {{me.username}}</div><div class="right" ng-hide="isLoggedIn()"><button ng-click="authenticate('github')" class="btn btn-lg btn-block btn-github btn-social"><i class="fa fa-github"></i>Log in with Github</button></div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      
      <table class="table table-striped table-bordered">
        <tr>
        	<th id="header" colspan="10">
        		<h3 ng-show="onRecentPage">(unofficial) Leaderboard over last 30 days activity</h3><a href="#" class="small-link" ng-click="getDataAlltime()" ng-show="onRecentPage">All Time leaderboard</a>
      		<h3 ng-hide="onRecentPage">(unofficial) All Time Leaderboard</h3><a href="#" class="small-link" ng-click="getDataRecent()" ng-hide="onRecentPage">30 days leaderboard</a>
      	</th>
        </tr>
        <tr class="top100" ng-show="isLoggedIn()">
          <td colspan="10">You're following:&nbsp;&nbsp;<span ng-repeat="follow in me.followimg"><img ng-src="{{follow}}" class="userimg"/></span><button class="btn rank-btn" ng-click="getDataFollowing()" ng-hide="showingFollowing">Show Following</button><button class="btn rank-btn" ng-click="getDataRecent()" ng-show="showingFollowing">Show Top 100</button>
          </td>
        </tr>
        <tr class="top100">
          <td colspan="10">
          <div class="single"><span>Not listed below? Get your own ranking here: </span> <input type="text" placeholder="Username" ng-model="username" ng-keypress="handleEnter($event)"> <button class="btn rank-btn" ng-click="getUserRanking()">Get ranking</button> <button ng-show="isLoggedIn()" ng-click="followUser('input')" class="btn rank-btn">Follow</button></div>
          </td>
        </tr>
        <tr ng-show="notFound" class="top100">
          <td colspan="10">
          	<span>No ranking found for {{username}}</span> 
          </td>
        </tr>
        <tr ng-show="singleUser && !notFound" class="top100">
        	
          <td>{{singleUser.ranking}}</td>
          <td><a href="http://www.freecodecamp.com/{{singleUser.username}}" target="_blank"><img ng-src="{{singleUser.img}}" class="userimg"/>
          <span class="user-name">{{singleUser.username}}</span></a></td>
          <td class="count"><span ng-show="onRecentPage">{{singleUser.totalRecent}}</span><span ng-hide="onRecentPage">{{singleUser.total}}</span></td>
          <td class="count"><span ng-show="onRecentPage">{{singleUser.pointsRecent}}</span><span ng-hide="onRecentPage">{{singleUser.points}}</span></td>
          <td class="count"><span ng-show="onRecentPage">{{singleUser.basejumpsRecent}}</span><span ng-hide="onRecentPage">{{singleUser.basejumps}}</span></td>
          <td class="count"><span ng-show="onRecentPage">{{singleUser.ziplinesRecent}}</span><span ng-hide="onRecentPage">{{singleUser.ziplines}}</span></td>
          <td class="count"><span ng-show="onRecentPage">{{singleUser.bonfiresRecent}}</span><span ng-hide="onRecentPage">{{singleUser.bonfires}}</span></td>
          <td class="count"><span ng-show="onRecentPage">{{singleUser.total}}</span><span ng-hide="onRecentPage">{{singleUser.totalRecent}}</span></td>
          <td class="lastchecked">{{singleUser.lastUpdate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td class="buttons"><button class="btn btn-default" ng-click="refreshUser(singleUser.username)"><i class="glyphicon glyphicon-refresh"></i></button></td>
        </tr>

        <tr ng-show="onRecentPage">
          <th class="idcol">#</th>
          <th>
            <a href="" ng-click="order('username')">Camper Name</a>
            <span class="sortorder" ng-show="predicate === 'username'" ng-class="{reverse:reverse}"></span>
          </th>
          <th class="numbercol">
            <a href="" ng-click="order('totalRecent')">Recent score</a>
            <span class="sortorder" ng-show="predicate === 'totalRecent'" ng-class="{reverse:reverse}"></span>
          </th>
          <th class="numbercol">
            <a href="" ng-click="order('pointsRecent')">Points</a>
            <span class="sortorder" ng-show="predicate === 'pointsRecent'" ng-class="{reverse:reverse}"></span>
          </th>
          <th class="numbercol">
            <a href="" ng-click="order('basejumpsRecent')">Basejumps (x60)</a>
            <span class="sortorder" ng-show="predicate === 'basejumpsRecent'" ng-class="{reverse:reverse}"></span>
          </th>
          <th class="numbercol">
            <a href="" ng-click="order('ziplinesRecent')">Ziplines (x30)</a>
            <span class="sortorder" ng-show="predicate === 'ziplinesRecent'" ng-class="{reverse:reverse}"></span>
          </th>
          <th class="numbercol">
            <a href="" ng-click="order('bonfiresRecent')">Bonfires (x3)</a>
            <span class="sortorder" ng-show="predicate === 'bonfiresRecent'" ng-class="{reverse:reverse}"></span>
          </th>
          <th class="numbercol">
            <a href="" ng-click="order('total')">Overall score</a>
            <span class="sortorder" ng-show="predicate === 'total'" ng-class="{reverse:reverse}"></span>
          </th>
          <th class="lastchecked">Last checked</th>
          <th class="buttons" ng-class="isLoggedIn()"></th>
        </tr>

        <tr ng-hide="onRecentPage">
          <th class="idcol">#</th>
          <th>
            <a href="" ng-click="order('username')">Camper Name</a>
            <span class="sortorder" ng-show="predicate === 'username'" ng-class="{reverse:reverse}"></span>
          </th>
          <th class="numbercol">
            <a href="" ng-click="order('total')">Overall score</a>
            <span class="sortorder" ng-show="predicate === 'total'" ng-class="{reverse:reverse}"></span>
          </th>
          <th class="numbercol">
            <a href="" ng-click="order('points')">Points</a>
            <span class="sortorder" ng-show="predicate === 'points'" ng-class="{reverse:reverse}"></span>
          </th>
          <th class="numbercol">
            <a href="" ng-click="order('basejumps')">Basejumps (x60)</a>
            <span class="sortorder" ng-show="predicate === 'basejumps'" ng-class="{reverse:reverse}"></span>
          </th>
          <th class="numbercol">
            <a href="" ng-click="order('ziplines')">Ziplines (x30)</a>
            <span class="sortorder" ng-show="predicate === 'ziplines'" ng-class="{reverse:reverse}"></span>
          </th>
          <th class="numbercol">
            <a href="" ng-click="order('bonfires')">Bonfires (x3)</a>
            <span class="sortorder" ng-show="predicate === 'bonfires'" ng-class="{reverse:reverse}"></span>
          </th>
          <th class="numbercol">
            <a href="" ng-click="order('totalRecent')">Recent score</a>
            <span class="sortorder" ng-show="predicate === 'totalRecent'" ng-class="{reverse:reverse}"></span>
          </th>
          <th class="lastchecked">Last checked</th>
          <th class="buttons" ng-class="isLoggedIn()"></th>
        </tr>
        <tr class="top100" ng-repeat="camper in campers | orderBy:predicate:reverse | limitTo:100">
          <td>{{$index+1}}</td>
          <td><a href="http://www.freecodecamp.com/{{camper.username}}" target="_blank"><img ng-src="{{camper.img}}" class="userimg"/>
          <span class="user-name">{{camper.username}}</span></a></td>
          <td class="count"><span ng-show="onRecentPage">{{camper.totalRecent}}</span><span ng-hide="onRecentPage">{{camper.total}}</span></td>
          <td class="count"><span ng-show="onRecentPage">{{camper.pointsRecent}}</span><span ng-hide="onRecentPage">{{camper.points}}</span></td>
          <td class="count"><span ng-show="onRecentPage">{{camper.basejumpsRecent}}</span><span ng-hide="onRecentPage">{{camper.basejumps}}</span></td>
          <td class="count"><span ng-show="onRecentPage">{{camper.ziplinesRecent}}</span><span ng-hide="onRecentPage">{{camper.ziplines}}</span></td>
          <td class="count"><span ng-show="onRecentPage">{{camper.bonfiresRecent}}</span><span ng-hide="onRecentPage">{{camper.bonfires}}</span></td>
          <td class="count"><span ng-show="onRecentPage">{{camper.total}}</span><span ng-hide="onRecentPage">{{camper.totalRecent}}</span></td>
          <td class="lastchecked">{{camper.lastUpdate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td class="buttons" ng-class="isLoggedIn()">
            <button class="btn btn-default" ng-click="refreshUser(camper.username)"><i class="glyphicon glyphicon-refresh"></i></button>
            <button class="btn btn-default" ng-show="isLoggedIn() && isNotFollowing(camper.username)" ng-click="followUser(camper.username)"><i class="glyphicon glyphicon-thumbs-up"></i></button>
            <button class="btn btn-default" ng-show="isLoggedIn() && isFollowing(camper.username)" ng-click="unfollowUser(camper.username)"><i class="glyphicon glyphicon-thumbs-down"></i></button>
          </td>
        </tr>
        <tr>
          <td colspan="10">
          This list is assembled by taking a list of users from the <a href="https://gitter.im/FreeCodeCamp/FreeCodeCamp">FreeCodeCamp chat</a> and screen scraping <span ng-show="onRecentPage">recent activity </span>from the user's detail pages from the FreeCodeCamp site. This list is updated every couple of days. It is not a realtime presentation of user scores on FreeCodeCamp.com.<br/> 
          The list is ordered by descending total score. This score is calculated as 
          <em>Points + (Basejumps * 60) + (Ziplines * 30) + (Bonfires * 3)</em>.<br/>
          Take a look at the <span ng-show="onRecentPage"><a href="#" ng-click="getDataAlltime()">All Time Leaderboard</a></span><span ng-hide="onRecentPage"><a href="#" ng-click="getDataRecent()">Recent activity leaderboard</a></span>.
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>*** By <a href="http://www.freecodecamp.com/roelver">@roelver</a> ***</p>
  </div>
</footer>
